__pycache__
/.venv
/dist
/build
.pytest_cache
.vscode
!.vscode/c_cpp_properties.json
!.vscode/cmake-kits.json

*.exe
*.dll
*.pyd
*.so
*.a
*.tflite
*.h5
*.hdf5
*.json
*.csv
*.zip
*.log
*.wav
*.mp3
*.opus
/user_options.cmake
*.egg-info
/.eggs
!pyrightconfig.json