[MASTER]
extension-pkg-whitelist = wx,win32api,win32file,win32process
disable=
    unused-argument,
    bare-except,
    broad-except,
    invalid-name,
    trailing-whitespace,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    missing-final-newline,
    trailing-newlines,
    line-too-long,
    logging-fstring-interpolation,
    logging-not-lazy,
    wrong-import-position,
    too-many-arguments,
    too-many-function-args,
    import-outside-toplevel,
    unspecified-encoding,
    raise-missing-from

[FORMAT]
    max-line-length=100