!/examples/image_example1.mltk.zip
!/examples/audio_example1.mltk.zip
!/examples/autoencoder_example.mltk.zip
!/siliconlabs/keyword_spotting_on_off.mltk.zip
!/siliconlabs/keyword_spotting_on_off_v2.mltk.zip
!/siliconlabs/keyword_spotting_on_off_v2.teacher.h5
!/siliconlabs/keyword_spotting_on_off_v3.mltk.zip
!/siliconlabs/keyword_spotting_mobilenetv2.mltk.zip
!/siliconlabs/keyword_spotting_with_transfer_learning.mltk.zip
!/siliconlabs/rock_paper_scissors.mltk.zip
!/siliconlabs/fingerprint_signature_generator.mltk.zip
!/siliconlabs/keyword_spotting_pacman.mltk.zip
!/siliconlabs/keyword_spotting_pacman_v2.mltk.zip
!/siliconlabs/keyword_spotting_pacman_v2.teacher.h5
!/siliconlabs/keyword_spotting_pacman_v3.mltk.zip
!/siliconlabs/keyword_spotting_alexa.mltk.zip
!/siliconlabs/keyword_spotting_alexa_v2.mltk.zip
!/siliconlabs/keyword_spotting_numbers.mltk.zip
!/siliconlabs/keyword_spotting_heygecko.mltk.zip
!/tflite_micro/tflite_micro_magic_wand.mltk.zip
!/tflite_micro/tflite_micro_speech.mltk.zip
!/tinyml/anomaly_detection.mltk.zip
!/tinyml/image_classification.mltk.zip
!/tinyml/keyword_spotting.mltk.zip
!/tinyml/visual_wake_words.mltk.zip