::-webkit-scrollbar { 
	width: 16px;
}
::-webkit-scrollbar-track { 
	background-color: #333;
} 
::-webkit-scrollbar-thumb { 
	background-color: #424e69;
}
::-webkit-scrollbar-thumb:hover { 
	background-color: #8295d5;
}

@font-face { 
	font-family: 'Quadrit'; 
	src: url('../css/Quadrit.ttf'); 
}

* { 
	font-family: Quadrit, sans-serif;
	font-size: 20px;
	color: #fff;
}

html, body { 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
}
html  { 
	background-color: #000;
}
body { 
	position: relative;
}

.logo {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 100px;
}

#score, #highscore  { 
	position: absolute;
	display: inline;
	top: 70px;
	margin: 0px;
	padding: 0px;
}
#score { 
	right: 200px;
}
#highscore { 
	right: 25px;
}
#score h2, #score span, #highscore h2, #highscore span { 
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 16px;
	height: 21px;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

#message { 
	position: absolute;
	display: inline;
	top: 413px;
	left: 180px;
	margin: 0px;
	padding: 0px;
	width: 210px;
	height: 30px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 20px;
	color: #fff200;
	text-align: center;
}
#message.red { 
	color: red;
}

span.combo, span.fruits { 
	position: absolute;
	letter-spacing: 1.5px;
	font-size: 14px;
	color: #89dfff;
	font-weight: normal;
}

#panel, #home { 
	width: 550px;
	height: 690px;
	margin: auto;
	margin-top: 10px;
	left: 0px;
	right: 0px;
	position: absolute;
	padding: 5px 10px 10px 10px;
	background-color: #000;
}			
#board, #canvas-board, #canvas-paths, #canvas-fruits, #canvas-pacman, #canvas-bubbles, #canvas-ghost-blinky, #canvas-ghost-pinky, #canvas-ghost-inky, #canvas-ghost-clyde { 
	width: 550px;
	height: 550px;
	position: absolute;
}
#canvas-paths { 
	display: none;
}
#board {  
	position: absolute;
	top: 115px;
}

#canvas-lifes, #canvas-level-fruits { 
	height: 30px;
	top: 670px;
	position: absolute;
	z-index: 111111;
}
#canvas-lifes { 
	width: 120px;
	left: 50px;
}
#canvas-level-fruits { 
	width: 265px;
	right: 50px;
}



h1 { 
	margin: 0px 0px 74px 0px;
	padding: 0px;
	font-size: 24px;
	letter-spacing: 3px;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
}
h3 { 
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
}

.sound {
	margin-left: 10px;
}

.sound img { 
	width: 32px;
}



.buttons {
	position: absolute;
	margin-top: 10px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
	width: 180px;
	white-space: nowrap;
}

.buttons-home {
	bottom: 25px;
}

.buttons-panel {
	bottom: -50px;
}


.buttons div { 
	text-align: center;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
	text-transform: lowercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	color: #78abf7;
	transition: color 1.5s;
	display: inline;
	padding-right: 10px;
}

.buttons a {
	color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}

.button-yo { 
	color: #333 !important;
}



.dialog {
	position: absolute;
	z-index: 999999;
	margin: auto;
	padding-top: 15px;
	text-align: center;
	background-color: #222;
	border: solid 1px #193fff;
	text-transform: uppercase;
	opacity: 0.9;
	display: none;
}

.dialog h2 { 
	margin: 0px 0px 10px 0px;
	color: #d43b3b;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
}

.dialog-close-button {
	position: absolute;
	right: 25px;
	cursor: pointer;
}

.dialog-close-button:hover {
	opacity: 0.3;
}


#help { 
	width: 420px;
	height: 265px;
	top: 290px;
	left: 0px;
	right: 0px;
}

#help  table  tr  td { 
	font-size: 16px;
	letter-spacing: 1px;
}
#help  table  tr  td:first-child { 
	color: #f4c030;
	font-weight: bold;
	text-align: right;
}
#help  table  tr  td:last-child { 
	text-align: left;
}

#install { 
	width: 800px;
	height: 400px;
	top: 200px;
	left: 50%;
	right: 50%;
	opacity: 1;
	display: block;
	transform: translate(-50%, 0);
}

#install li, a {
	font-size: 16px;
	text-align: left;
	text-transform: none;
	line-height: 2em;
}

#install  a {
	color: #d43b3b;
}

#install p {
	font-size: 18px;
	margin-top: 60px;
}

.bluetooth-msg { 
	position: absolute;
	top: 450px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
	width: 650px;
	z-index: 100;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #222;
	border: solid 1px #193fff;
	text-transform: uppercase;
	opacity: 1;
}

#panel .title {
	display: block;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#panel .title > div {
	display: inline-block;
}

#panel .title > em {
	color: #d43b3b;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
}

#panel .title > h1 {
	display: inline-block;
	margin: 0px;
}

#command-log-dialog {
	display: none;
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 320px;
	height: 200px;
}

#command-log-dialog h2 {
	font-size: 14px;
	margin: 0px;
}

#command-log-dialog .name {
	font-size: 10px;
	position: absolute;
	left: 15px;
}

#command-log-dialog .confidence {
	font-size: 10px;
	position: absolute;
	right: 70px;
}

#command-log-dialog textarea {
	width: 90%;
	height: 65%;
	background-color: #222;
	color: #f4c030;
	border: none;
	text-transform: uppercase;
	font-family: monospace;
	position: absolute;
	left: 10px;
	top: 55px;
}



@media screen and (min-height:1200px), screen and (min-device-height : 1200px) { 
	#panel, #home { 
		zoom: 135%;
	}
}

@media screen and (max-width:1024px), screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
	#home .help-button, #panel .help-button, #home .github, #sound, .sound { 
		display: none;
	}
	#panel, #home { 
		zoom: 105%;
	}
	#control-up-big, #control-down-big, #control-left-big, #control-right-big { 
		display: inline; 
	} 

}
@media screen and (max-height:640px), screen and (min-device-height : 480px) and (max-device-height : 640px) and (-webkit-device-pixel-ratio: 3) { 
	#panel, #home { 
		zoom: 60%;
	}
	h1, #canvas-panel-title-pacman { 
		visibility: hidden;
	}
}
@media screen and (max-height:480px), screen and (min-device-height : 320px) and (max-device-height : 480px) { 
	#panel, #home { 
		zoom: 55%;
	}
	#control-up-big, #control-down-big, #control-left-big, #control-right-big { 
		display: inline; 
	} 
	h1, #canvas-panel-title-pacman, #control-up-second, #control-down-second, #home .help-button, #panel .help-button, #home .github, #sound, .sound { 
		display: none;
	}
	#score, #highscore { 
		top: 0px;
	}
	#panel { 
		padding-top: 50px;
	}
	#canvas-lifes, #canvas-level-fruits { 
		top: 607px;
	}
	#message { 
		top: 347px;
	}
}
