
button[data-md-color-primary=red] {
  background-color: #D91E2A;
}

[data-md-color-primary=red] .md-typeset a {
  color: #D91E2A;
}


[data-md-color-primary=red] .md-header,
[data-md-color-primary=red] .md-hero {
  background-color: #D91E2A;
}

[data-md-color-primary=red] .md-nav__link--active,
[data-md-color-primary=red] .md-nav__link:active {
  color: #D91E2A;
}

@media only screen and (max-width:76.1875em) {
  html [data-md-color-primary=red] .md-nav--primary .md-nav__title--site {
      background-color: #D91E2A;
  }
}

@media only screen and (min-width:76.25em) {
  [data-md-color-primary=red] .md-tabs {
      background-color: #D91E2A;
  }
}

@media only screen and (max-width:59.9375em) {
  [data-md-color-primary=red] .md-nav__source {
      background-color: rgba(217, 30, 42, .9675)
  }
}

[data-md-color-primary=red] .md-nav__extra_link:active {
  color: #D91E2A
}


.md-nav span.caption {
    text-transform: uppercase;
}


.md-header[data-md-state=""] img, .md-header img {
    height: 48px !important;
}

.md-header[data-md-state=""] .md-header-nav__topic, .md-header .md-header-nav__topic {
    margin: .2em !important;
    padding: .4em !important;
    font-size: 1.1em !important;
}

.md-header[data-md-state="shadow"] img {
    height: 26px !important;
}

.md-header[data-md-state="shadow"] .md-header-nav__topic {
    margin: inherit !important;
    padding: inherit !important;
    font-size: inherit !important;
}

.md-footer-nav {
  background-color: inherit !important;
  color: #D91E2A !important;
  font-weight: 600 !important;
}

.md-footer-nav__direction {
  color: #D91E2AE0 !important;
}





.dropdown {
  width: 100% !important;
}

button.copybtn {
  cursor: pointer;
}

details>summary:before {
  content: none !important;
}


.breadcrumbs {
	  clear: both;
    position: relative;
}

@media (max-width: 45em) {
  .breadcrumbs {
   font-size: .5rem !important;
 }
}

.breadcrumbs li{
    list-style: none;
    float: left;
    padding-right: 10px;
}
.breadcrumbs ul.breadcrumb{
    background-color: #DCDCDC;
	  padding: 0 1.5em;
    clear: both;
    height: 40px;
    margin-right: 0.625em;
}
.breadcrumbs ul.breadcrumb li{  
    background-color: #DCDCDC; 
    border-right: 3px solid #fff;
    transform: skewX(-25deg);
    height: 40px;
    padding: 0 20px;
    position: relative;
    top: 0; 
    line-height: 40px;
}
.breadcrumbs ul.breadcrumb li:first-child {
    display: none;
}
.breadcrumbs ul.breadcrumb li:nth-child(2) {
    border-left: 3px solid #fff;
}
.breadcrumbs ul.breadcrumb li:last-child {
    border-right: none;
}
.breadcrumbs ul.breadcrumb li a{	
    transform: skewX(25deg);
    display: inline-block;
    color: rgba(0,0,0,.54);
}
.breadcrumbs ul.breadcrumb li a:hover, ul.breadcrumb li a:focus{
    text-decoration: none;
    color: #0091ea;
}
.breadcrumbs ul.breadcrumb i{
    position: relative;
    top: 6px;
    float: none;
}






.highlight-shell.notranslate {
  padding-left: 0em;
  padding-right: 0em;
  border: 1px #ccc solid;
  background-color: #f7f7f7;
  border-left-color: green;
  border-left-width: medium;
}

.highlight-shell.notranslate .highlight pre {
  background-color: #f7f7f7 !important;
}

@media (max-width: 45em) {
   .md-typeset pre {
    margin: 0em !important;
  }
}

.slideshow-iframe {
  width: 100%;
  border-radius: 20px;
  height: 75vw;
  max-height: 600px;
}

.privacy-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 1rem .5rem;
  background: #fff;
  z-index: 1030;
  color: #000;
  font-size: 14px;
  margin: 0;
  border-top: 2px solid #D91E2A; 
  display: none;
}
.privacy-banner-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
}
.privacy-banner p {
  margin: 0;
  color: #000;
  text-align: left;
}
.privacy-banner .privacy-banner-wrapper p {
    padding-right: 3rem;
}

.privacy-policy {
  color: #D91E2A;
}

.privacy-banner-accept {
  padding: 7px 15px;
  color: #fff;
  border-radius: 5px;
  background: #D91E2A
}
@media (max-width: 700px) {
  .privacy-banner-wrapper {
    display: inherit;
  }
  .privacy-banner .privacy-banner-wrapper p  {
    padding-right: 0rem;
    margin-bottom: 15px;
  }
  .privacy-banner-accept {
    position: inherit;
  }
}


.model-diagram img {
  max-height: 300px;
  margin: auto;
  display: block;
}

.model-diagram p {
  text-align: center;
}

.survey-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40vw;
  min-width: 450px;
  height: 40vh;
  min-height: 300px;
  background: #fff;
  z-index: 1029;
  color: rgba(0,0,0,.54);
  font-size: 28px;
  margin: 0;
  display: none;
}


.survey-container .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  padding: 10px;
  margin-right: 10px;
}


.survey-container .close:hover, .close:focus {
    cursor:pointer;
    text-decoration: none;
    color: rgba(0,0,0, 1);
}

@media (max-width: 45em) {
  .survey-container {
    display: none !important;
  }
}

/* Then style the iframe to fit in the container div with full height and width */
.survey-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.survey-link {
  float: right;
  font-size: 1.2em;
  font-weight: 400;
  color: white;
}


@media (max-width: 45em) {
  .survey-link {
    display: none !important;
  }
}

.survey-link  a {
  color: #D91E2A !important;
  cursor: pointer;
}

.survey-link .pulse {
	margin-left: 0px;
  margin-right: 10px;
  border-radius: 20px;
  vertical-align: middle;
  font-size: 30px;
	box-shadow: 0 0 0 0 #D91E2A;
  display: inline-block;
  animation: arrow_bounce 1s;
	animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;

}

@keyframes arrow_bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(10px, 0, 0);
  }
}


.go-top {
  position: fixed;
  bottom: 20px;
  display:none;
  color: #D91E2A;
  font-size: 1.5em;
  right: 50%;
  left: 50%;
  text-align: center;
  width: 120px;
  text-decoration: none;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  border-color: #D91E2A;
  border-style: solid;
  border-width: 1px;
  z-index: 999;
}

a.go-top:hover {
  background-color: #D91E2A;
  color:white;
}