:root {
--tabs-color-label-active: #D91E2A;
--tabs-color-label-inactive: rgba(128,128,128,1.0);
--tabs-color-overline: rgba(128,128,128,.3);
--tabs-color-underline: rgba(128,128,128,.3);
--tabs-size-label: 1rem;
}